.wrapper-container {
  max-width: 616px;
  height: 876px;
  background-color: #ffffff24;
  margin: 34px auto 0;
  display: flex;
  border-radius: 18px;
  @media (max-width: 430px) {
    margin: 0;
    height: 100vh;
  }
  .container {
    max-width: 554px;
    max-height: 800px;
    background: linear-gradient(155.23deg, #28518e 0%, #3a77d1 100%);
    border-radius: 18px;
    padding: 44px;
    margin: auto;
    box-shadow: 0 24px 80px 0 #3e3838c9;

    @media (max-width: 430px) {
        border-radius: 0;
        min-height: 100%;
        padding: 0;
    }
      .header {
        height: 30%;
        border-bottom: solid 2px #ffffff48;

        .value {
          width: 100%;
          height: 117px;
          font-size: 24px;
          line-height: 32px;
          font-weight: 500;
          color: #fff;
          display: flex;
          margin-bottom: 28px;
          justify-content: flex-end;
          flex-direction: column;
          align-items: flex-end;
          padding-right: 15px;
        }

        input {
          width: 100%;
          font-weight: 700;
          font-size: 56px;
          line-height: 80px;
          text-align: right;
          outline: none;
          border: none;
          background: transparent;
          color: #fff;
          padding-right: 15px;
        }

        input::placeholder {
          color: #fff;
        }

        input::-webkit-input-placeholder {
          color: #fff;
        }

        input::-moz-placeholder {
          color: #fff;
        }

        input:-ms-input-placeholder {
          color: #fff;
        }
      }

      .body {
        display: flex;
        height: 70%;
        margin-top: 18px;

        button {
          background-color: transparent;
          color: #fbfbfb;
          font-size: 36px;
          line-height: 88px;
          font-weight: 500;
          width: 80px;
          height: 80px;
          border: none;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;
          margin: 15px 15px 0;

          &:hover {
            background-color: #ffffff13;
          }

          &:active {
            background-color: #fff;
            color: #2b589a;
          }
          @media (max-width: 430px) {
            margin: 5px 8px 0;
          }
        }

        .container-buttons {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
        }
      }
    }
  }